html {
  border-radius: 25px;
  font-size: 21px;
  font-family: placeholder;
}

h1 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #FFFFFF;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px double black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
}

img {
  display: block;
  margin: 0 auto;
}
